USE [master]
GO
/****** Object:  Database [Music_Player]    Script Date: 4/7/2018 10:22:26 PM ******/
CREATE DATABASE [Music_Player]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Music_Player', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Music_Player.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Music_Player_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Music_Player_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Music_Player].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Music_Player]
GO
USE [Music_Player]
GO
/****** Object:  Table [dbo].[Recent]    Script Date: 4/7/2018 10:22:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recent](
	[Title] [nvarchar](20) NOT NULL,
	[History] [datetime] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[Recent] ([Title], [History]) VALUES (N'C:\Users\20165\Downl', CAST(N'2018-04-07T22:01:53.000' AS DateTime))
INSERT [dbo].[Recent] ([Title], [History]) VALUES (N'C:\Users\20165\Downl', CAST(N'2018-04-07T22:03:44.000' AS DateTime))
USE [master]
GO
